/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}


/* header */
#banner {
    height: 30%;
    padding: 10px 20px;
    background-color: white;
}

#logo-img {
    height: 10%;
    vertical-align: middle;
    line-height: 10%;
}

#logo-text {
    display: inline-block;
    font-weight: 800;
    vertical-align: middle;
}

/* contenuto principale */